{% extends '_layout' %}
{% set bannerImage = entry.bannerImage.one() %}
{% block content %}
{% if bannerImage %}
<div class="photo">
  {{ bannerImage.getImg() }}
</div>
{% endif %}
<h1>{{ entry.title }}</h1>
<div class="about">
{{ entry.intro }}
</div>
{% endblock %}